In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/yelp.csv')

In [3]:
#Dropping irrelevant columns
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [4]:
data.columns

Index(['business_id', 'date', 'review_id', 'stars', 'text', 'type', 'user_id',
       'cool', 'useful', 'funny'],
      dtype='object')

In [12]:
#Dropping unwanted columns
new_df = data.drop(['business_id', 'date', 'review_id','type', 'user_id','cool', 'useful', 'funny'], axis = 1)

In [6]:
new_df.head()

   stars                                               text
0      5  My wife took me here on my birthday for breakf...
1      5  I have no idea why some people give bad review...
2      4  love the gyro plate. Rice is so good and I als...
3      5  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4      5  General Manager Scott Petello is a good egg!!!...

In [13]:
new_df.isnull().sum()

stars    0
text     0
dtype: int64

In [15]:
#Selecting the threshold of stars to be used
df = new_df[(new_df.stars == 1) | (new_df.stars == 5)]

In [16]:
df.head()

   stars                                               text
0      5  My wife took me here on my birthday for breakf...
1      5  I have no idea why some people give bad review...
3      5  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4      5  General Manager Scott Petello is a good egg!!!...
6      5  Drop what you're doing and drive here. After I...

In [17]:
import string
from nltk.corpus import stopwords
def text_process(text):
    """ 
        Takes in a string of text, then perform the following:
        1. Remove all punctuation
        2. Remove all stopwords
        3. Return a list of the cleaned text
    """

    #Check characters to see if they are in punctuation
    nopunc = [char for char in text if char not in string.punctuation]

    #join the characters again to form the string
    nopunc = ''.join(nopunc)

    #Remove stop words
    words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

    return words

In [18]:
#Applying our text_process function to the 'text' column
df['text'] = df['text'].apply(text_process)

C:\Users\AGODUA~1\AppData\Local\Temp/ipykernel_9368/3585619454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(text_process)

In [19]:
df.head(10)

    stars                                               text
0       5  [wife, took, birthday, breakfast, excellent, w...
1       5  [idea, people, give, bad, reviews, place, goes...
3       5  [Rosie, Dakota, LOVE, Chaparral, Dog, Park, co...
4       5  [General, Manager, Scott, Petello, good, egg, ...
6       5  [Drop, youre, drive, ate, go, back, next, day,...
9       5  [Nobuo, shows, unique, talents, everything, me...
10      5  [oldish, man, owns, store, sweet, Perhaps, swe...
11      5  [Wonderful, Vietnamese, sandwich, shoppe, bagu...
12      5  [limited, time, thing, going, right, BBQ, chic...
17      5  [okay, best, place, EVER, grew, shopping, one,...

In [20]:
#Saving Our processed Data
df.to_csv('processed_yelp.csv', index = False, header = True)